#trr_reservation {
    color:#333333;
    float:left;
    width:239px;
}

#trr_reservation .trr_reservation_top, #trr_reservation .trr_reservation_bottom {
    background: #fff;
    border: 1px solid #d4cfbe;
    float: left;
    width: 239px;
    height: 11px;
}

#trr_reservation .trr_reservation_top {
    border-radius: 10px 10px 0 0;
    border-bottom: 0;
}

#trr_reservation .trr_reservation_bottom {
    border-radius: 0  0 10px 10px;
    border-top: 0;
}

#trr_reservation .trr_reservation_body {
    float: left;
    width: 239px;
    height: auto;
    border-left:solid 1px #d4cfbe;
    border-right:solid 1px #d4cfbe;
    padding:1px;
    text-align: center;
    background-color:#ffffff;
}

#trr_reservation #trr_wrapper {
    float: left;
    width: 100%;
}

#trr_reservation #trr_wrapper #trr_fotrr_wrapper {
    float: left;
    width: 100%;
}

#trr_reservation #trr_wrapper #trr_fotrr_wrapper .trr_header {
    font-size: 20px;
    margin: 0 0 12px 0;
}

#trr_reservation #trr_wrapper #trr_fotrr_wrapper .trr_header:before{
	display: none;
}

#trr_reservation #trr_wrapper .trr_box_wrapper {
    border-bottom: solid 1px #d4cfbe;
    border-top: solid 1px #d4cfbe;
    background-color: #f0f0f0;
    float: left;
    width: 100%;
}

#trr_reservation #trr_wrapper .trr_box_wrapper .trr_restaurant_name {
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: bold;
}

#trr_reservation #trr_wrapper .trr_box_wrapper .trr_restaurant_name:before{
	display: none;
}

#trr_reservation #trr_wrapper .trr_box_wrapper .trr_restaurant_city {
    margin-top: 0;
    margin-bottom: 17px;
    font-size: 12px;
    font-weight: bold;
}

#trr_reservation #trr_wrapper .trr_box_wrapper #trr_search_box {
    float: left;
    width: 100%;
    margin-top:10px;
}

#trr_reservation #trr_wrapper .trr_box_wrapper #trr_search_box .trr_box_row {
    width: 100%;
    height: 25px;
    float: left;
    margin-bottom: 12px;
}

#trr_reservation #trr_wrapper .trr_box_wrapper #trr_search_box .trr_box_row.trr_date_row {
    position: relative;
}

#trr_reservation #trr_wrapper .trr_box_wrapper #trr_search_box .trr_box_row .trr_row_title {
    float: left;
    line-height: 22px;
    height: 22px;
    width: 70px;
    margin-right: 10px;
    font-size: 12px;
    text-align: right;
    font-weight: notrral;
}

#trr_reservation #trr_wrapper .trr_box_wrapper #trr_search_box .trr_box_row .trr_row_value {
    float: left;
    position: relative;
    width: 135px;
    height: 22px;
}

#trr_reservation #trr_wrapper .trr_box_wrapper #trr_search_box .trr_box_row .trr_row_value .ui-datepicker-trigger{
	vertical-align: text-top;
}

#trr_reservation #trr_wrapper .trr_box_wrapper #trr_search_box .trr_box_row .trr_row_value input,
#trr_reservation #trr_wrapper .trr_box_wrapper #trr_search_box .trr_box_row .trr_row_value select {
    width: 100px;
    float: left;
    padding: 2px 2px 2px 5px;
    font-size: 13px;
}

#trr_reservation #trr_wrapper .trr_box_wrapper #trr_search_box #trr_submit_wrapper {
    float: left;
    width: 100%;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 12px;
}

#trr_logo_wrapper {
    float: left;
    width: 100%;
    line-height: 24px;
    height: 17px;
    font-size: 11px;
}

.trr_powered {
    float: left;
    width: 100px;
    text-align: right;
    margin-right: 10px;
    margin-top: 2px;
    position: relative;
}

.trr_logo {
    width: 97px;
    height: 26px;
    position: relative;
    /*float: left;*/
    margin-top: 1px;
    background-repeat: no-repeat;
    background-position: 5px 0;
    float: right;
    background-size: contain;
}

/*Calendar Styling*/

#trr_reservation #trr_wrapper div.jcalendar, div#jcalendar {
    padding-left: 2px;
    padding-bottom: 1px;

    display: block;
    position: relative;
    z-index: 999999999;
    background-color: #fff;
    
    float: left;box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
    background-color: #fff;
}

#trr_reservation #trr_wrapper table#calendar tr#jcalendar-links td {
    background-color: #fff;
    color: #3d4d65;
    text-align: center;
    font-weight: bold;
}

#trr_reservation #trr_wrapper table#calendar tr#jcalendar-links a.left {
    background-image: none;
    float: left;
    padding: 0;

    width: 0 !important; 
    height: 0 !important;
    border-top: 5px solid transparent !important;
    border-bottom: 5px solid transparent !important;
  
    border-right: 5px solid #3d4d65 !important;
    margin-left: 2px !important;
}

#trr_reservation #trr_wrapper table#calendar tr#jcalendar-links a.right {
    background-image: none;
    float: right;
    padding: 0;

    width: 0 !important; 
    height: 0 !important;
    border-top: 5px solid transparent !important;
    border-bottom: 5px solid transparent !important;
  
    border-left: 5px solid #3d4d65 !important;
    margin-right: 5px !important;
}

#trr_reservation #trr_wrapper table#calendar tr#days td {
    background-color: #fff;
    border: medium none;
    color: #3d4d65;
}

#trr_reservation #trr_wrapper table#calendar tr td {
    border: none;
    background-color: #fff !important;

    font-size: 14px;
    font-weight: bold;
}

#trr_reservation #trr_wrapper table#calendar tr td a {
    border: none !important;
    width: 18px !important;
    height: 18px !important;
    line-height: 19px !important;
    margin: auto !important;
    color: #589442 !important;
    float: left;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}

#trr_reservation #trr_wrapper table#calendar tr td.inactive {
    font-size: 13px;
    color: #333;
    text-align: center;
}

#trr_reservation #trr_wrapper table#calendar tr td.active a {
    border: 1px solid #589442 !important;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -khtml-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px; 
}

#trr_reservation #trr_wrapper table#calendar tr td.active a:hover {
    background-color: #589442 !important;
    color: #fff !important;
}

#trr_reservation #trr_wrapper table#calendar tr td.selected a {
    background-color: #589442 !important;
    color: #fff !important;
}

table#calendar tr td.editval a {
    background: #589442 !important;
}

.trr_submit_btn{
	padding: 4px 30px;
    margin-bottom: 10px;
    font-size: 15px;
}

.trr_notification_text {
	font-size: 14px;
    padding: 0px 10px;
    margin: 10px 0px;
}





















/*Modal */

.trr_modal {
    position: absolute;
    z-index: 10000;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
}

.trr_modal.is-visible {
    visibility: visible;
    display: block !important;
}

.trr_modal .modal-overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 0%, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s;
}

.trr_modal.is-visible .modal-overlay {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.trr_modal .modal-wrapper {
  position: absolute;
  z-index: 9999;
  top: 3em;
  left: 50%;
  width: 32em;
  margin-left: -16em;
  background-color: #fff;
  box-shadow: 0 0 1.5em hsla(0, 0%, 0%, 0.35);
}

.trr_modal .modal-transition {
  transition: all 0.3s 0.12s;
  transform: translateY(-10%);
  opacity: 0;
}

.trr_modal.is-visible .modal-transition {
  transform: translateY(0);
  opacity: 1;
  position: fixed;
}


.trr_modal .modal-content {
  padding: 1em;
  padding-right: 2em;
}

.trr_modal .modal-header {
    position: absolute;
    top: 0px;
    right: 10px;
}

.trr_modal .modal-header .trr_modal-close{
    background: transparent;
    color: #000;
    padding: 0px;
}

.trr_modal .modal-header .trr_modal-close:hover{
    background: transparent;
}

.trr_modal .modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  color: #aaa;
  background: none;
  border: 0;
}

.trr_modal .modal-close:hover {
  color: #777;
}

.trr_modal .modal-heading {
  font-size: 1.125em;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.trr_modal .modal-content > *:first-child {
  margin-top: 0;
}

.trr_modal .modal-content > *:last-child {
  margin-bottom: 0;
}
.trr_modal .abcde_check{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;    
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

.trr_modal .abcde_check .trr_modal_left_content {
    /*flex: 1 auto;*/
    padding: 15px;
    width: 40%;
}

.trr_modal .abcde_check .trr_modal_right_content { 
    /*flex: 6 0px;*/
    font-size: 14px;
    width: 58%;
}

.trr_modal .abcde_check .trr_modal_right_content .trr_modal_row {
    margin-top: 10px;
}
.trr_modal .abcde_check .trr_modal_right_content .trr_modal_row.trr_center{
    text-align: center;
}
.trr_modal .abcde_check .trr_modal_right_content .trr_modal_row .trr_modal_input{
    padding: 2px 2px 2px 5px;
    width: 205px;
}

.trr_modal .abcde_check .trr_modal_right_content label{
    width: 33%;
    display: inline-block;
    vertical-align: top;
}

.trr_modal_submit_btn{
    padding: 4px 30px;
    margin-bottom: 10px;
    font-size: 15px;
}

.trr-logo-name-wrapper{
    margin-bottom: 20px;
    border-bottom: 1px dotted #000;
}

.trr-restaurant-logo-wrapper{
    display: inline-block;
    vertical-align: top;
    width: 30%;
}

.trr-restaurant-name-wrapper{
    display: inline-block;
    vertical-align: top;
    width: 68%;
}
.trr_warning_msg{
    margin: 20px 0;
}
.modal_trr_restaurant_name{
    text-align: center;
}
.trr-form-textarea{
    display:inline-block;
    width: 56%;
}

.trr-form-values p {
    margin: 0px;
}

.trr_margin-t10{
    margin-top: 10px;
}
@media only screen and (max-width: 767px) {
    .trr_modal .abcde_check .trr_modal_left_content {
        display: none;
    }
    .trr_modal .modal-wrapper{
        margin-left: 0px;
        left: 0%;
        width: 100%;
        top: 0;
    }

    .trr_modal .abcde_check .trr_modal_right_content .trr_modal_row .trr_modal_input{
        width: 225px;
    }

    .trr_modal .abcde_check .trr_modal_right_content{
        width: 100%;
    }
    .trr-restaurant-name-wrapper, .trr-restaurant-logo-wrapper{
       /* width: 100%;*/
    }
    .trr_modal_form{
        text-align: center;
    }

}
